body{
    float: top;
    text-align: center;
    font-family: arial;	
}

div{
    width: 800px;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    margin-bottom: 10px;
}

.article{
    background-color: #909090;
    height: 200px;
    border: groove green;
}

#advertisment{
    background-color: #C0C0C0;
    height: 100px;
    border:1px dashed;
}

#header{
    font-size: 200%;
}