.content{
    background-color: white;
    border-radius: 5px;
    width: 500px;
    height: 250px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    float:top;  
    margin-bottom: 20px;
}

body{
    background-color: green;
}

#header{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 500px;
    height: 100px;
    font-family: "Palatino Linotype";
    font-size: x-large;
    color: white;
}

#featured{
    margin-bottom: 20px;
}

#topbar{
    background-color: white;
    text-align: center;
}

textarea{
    margin-left: auto;
    margin-right: auto;
}

#wrap{
    float:left
}

.side{
    text-align: center;
    background-color: white;
    width: 250px;
    float: top;
    margin-right:auto;
    height: 250px;
    border-radius: 5px;
    margin-bottom: 20px;
}

#header a:link {
    text-decoration:none;
    color: white;
}
#header a:visited {
    text-decoration:none;
    color:white;
}

img{
    height: 30px;
    width: 30px;
}

.rate{
    width: 500px;
    height: 100px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    float:top;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: white;
}
